body {
    height: 100dvh;
}

#game-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 8px;
}

#buttons {
    display: flex;
    gap: 8px;
    margin: 8px auto;
}

#heading {
    margin: 8px auto;
}

#stats {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#win-msg {
    display: block;
}